In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('full_book.csv')

In [21]:
df.head()

,r_index,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603l...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022l...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443l...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680l...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560l...,https://images.gr-assets.com/books/1490528560s...

In [22]:
df = df.drop(['r_index'], axis = 1)
df = df.drop(['books_count'], axis = 1)
df = df.drop(['best_book_id'], axis = 1)
df = df.drop(['work_id'], axis = 1)
df = df.drop(['isbn'], axis = 1)
df = df.drop(['isbn13'], axis = 1)
df = df.drop(['average_rating'], axis = 1)
df = df.drop(['ratings_1'], axis = 1)
df = df.drop(['ratings_2'], axis = 1)
df = df.drop(['ratings_3'], axis = 1)
df = df.drop(['ratings_4'], axis = 1)
df = df.drop(['ratings_5'], axis = 1)
df = df.drop(['small_image_url'], axis = 1)

df.columns

Index(['book_id', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'ratings_count', 'work_ratings_count',
       'work_text_reviews_count', 'image_url'],
      dtype='object')

In [23]:
df = df.drop(['work_text_reviews_count'], axis = 1)
df = df.drop(['ratings_count'], axis = 1)
df = df.drop(['work_ratings_count'], axis = 1)

In [24]:
df.columns

Index(['book_id', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'image_url'],
      dtype='object')

In [25]:
df['comb'] = df['authors'].lower() + df['original_title']
df['comb']df['comb'].str.lower()

AttributeError: 'Series' object has no attribute 'lower'

In [ ]:
df

In [8]:
# Import writer class from csv module
from csv import writer
import random

In [11]:
book_id = random.randint(100000,200000)

In [12]:
book_id

102627

In [14]:
file =  open('cleaned_books_data - Copy.csv', 'a')

In [15]:
writer_object = writer(file)

In [19]:
	book_id	authors	original_publication_year	original_title	title	language_code	image_url	comb
[book_id,book_id,'Autho Test',2022,'Or Tit','Tit','Hi','goofle.com','Om']
len(writer_object)

In [20]:
# Open our existing CSV file in append mode
# Create a file object for this file
with open('cleaned_books_data - Copy.csv', 'a') as f_object:
  
    # Pass this file object to csv.writer()
    # and get a writer object
    writer_object = writer(f_object)
  
    # Pass the list as an argument into
    # the writerow()
    writer_object.writerow(data)
  
    #Close the file object
    f_object.close()

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('cleaned_books_data.csv',encoding='latin1')
book_list = list(df['original_title'])

In [11]:
'Python For Beginner' in book_list

True

In [5]:
from difflib import get_close_matches
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
vector_count = CountVectorizer()
counter_matrix = vector_count.fit_transform(df['comb'])
cols = ['original_title', 'authors', 'image_url', 'book_id']
# now compute the cosine similarity
similarity_of_cosine = cosine_similarity(counter_matrix)

In [22]:
# correcting user input spell (close match from our book list)
correct_title = get_close_matches('Python For', book_list, n=3, cutoff=0.6)[0]

In [23]:
correct_title

'Python For Beginner'

In [24]:
            # get the index value of given movie title
            idx = df['original_title'][df['original_title'] == correct_title].index[0]

            # get the pairwise similarity scores of all movies with that book
            similarity_score = list(enumerate(similarity_of_cosine[idx]))

            # sort the book based on similarity scores
            similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)[0:20]

            # suggested book are storing into a list
            recommendated_book_list = []
            for i in similarity_score:
                book_index_from_dataset = i[0]
                recommendated_book_list.append(df['original_title'][book_index_from_dataset])